<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <% breadcrumbs.each do |breadcrumb| %>
      <% if breadcrumb == breadcrumbs.last %>
        <li class="breadcrumb-item active" aria-current="page">
          <%= breadcrumb[:name] %>
        </li>
      <% else %>
        <li class="breadcrumb-item">
          <%= link_to breadcrumb[:name], explorer_path(path: breadcrumb[:path]) %>
        </li>
      <% end %>
    <% end %>
  </ol>
</nav>
