<div class="controls mb-2">
  <span>Controls</span>

  <div class="btn-group" role="toolbar" aria-label="Basic example">
    <button type="button"
            class="btn btn-primary"
            data-container="body"
            data-toggle="popover"
            data-placement="top"
            data-content="Not implemented yet..."
    >
      Create Folder
    </button>
    <button type="button"
            class="btn btn-danger"
            data-container="body"
            data-toggle="popover"
            data-placement="top"
            data-content="Not implemented yet..."
    >
      Delete
    </button>
  </div>
</div>
