<div class="controls mb-2">
  <span>Controls</span>

  <div class="btn-group" role="toolbar" aria-label="Basic example">
    <a role="button"
       tabindex="0"
       class="btn btn-primary"
       data-container="body"
       data-toggle="popover"
       data-trigger="focus"
       data-placement="top"
       data-content="Not implemented yet..."
    >
      Create Folder
    </a>
    <button type="button" class="btn btn-danger" id="batchDelete">
      Delete
    </button>
  </div>
</div>
