<div class="controls mb-2">
  <span>Explorer Controls</span>

  <div class="btn-group" role="toolbar" aria-label="Basic example">
    <button type="button"
            class="btn btn-success"
            id="createFolder"
            data-toggle="modal"
            data-target="#createFolderModal"
    >
      Create Folder
    </button>
    <button type="button" class="btn btn-danger" id="batchDelete">
      Delete
    </button>
    <a tabindex="0"
       class="btn btn-secondary"
       role="button"
       data-toggle="popover"
       data-trigger="focus"
       data-content="Not implemented yet..."
    >
      Some action
    </a>
  </div>
</div>
