<h1>Explorer</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Size</th>
    <th>Modification Date</th>
  </tr>

  <% files.each do |file| %>
    <%= render('folder_row', folder: file) if file.type == 'folder' %>
    <%= render('file_row', file: file) if file.type == 'file' %>
  <% end %>
</table>
