<% content_for :breadcrumbs do %>
  <%= render 'breadcrumbs', breadcrumbs: breadcrumbs %>
<% end %>

<%= render 'controls' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Size</th>
      <th scope="col">Modification Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% files.each do |file| %>
      <%= render('folder_row', folder: file) if file.type == 'folder' %>
      <%= render('file_row', file: file) if file.type == 'file' %>
    <% end %>
  </tbody>
</table>
