<div class="controls mb-2">
  <span>Explorer Controls</span>

  <div class="btn-group" role="toolbar" aria-label="Basic example">
    <button type="button"
            class="btn btn-success"
            id="createFolder"
            data-toggle="modal"
            data-target="#createFolderModal"
    >
      Create Folder
    </button>
    <button type="button" class="btn btn-danger" id="batchDelete">
      Delete
    </button>
  </div>
</div>
