<tr data-path="<%= folder.path %>">
  <td><input type="checkbox"></td>
  <td>
    <%= link_to folder.name, explorer_explorer_root_path(path: folder.path) %>
  </td>
  <td>--</td>
  <td>--</td>
  <td>
    <%= render 'actions' %>
  </td>
</tr>
