<div class="jumbotron">
  <div class="container">
    <h1 class="display-5">Welcome, <%= name %>!</h1>
    <p>To explore files in your DropBox press a button below.</p>
    <p>
      <%= link_to 'Explore »', explorer_explorer_root_path, class: 'btn btn-primary btn-lg',
                                              role: 'button' %>
    </p>
  </div>
</div>
